@font-face {
    font-family: 'personal';
    src: url(font/NotoNaskhArabicUI-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 850px;
    margin: auto;
    font-family: 'personal';
}


#profilePicture{
    max-width: 180px;
    border-radius: 50%;
}

hr{
    height: 2px !important;
    border-radius: 10px;
}
#contetn{
    border: 1px solid red;
    width: 100px;
    height: 100px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }